In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
indep=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=dataset[['charges']]

In [8]:
from sklearn.ensemble import RandomForestRegressor

In [9]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion' : ['friedman_mse', 'absolute_error', 'squared_error', 'poisson'],
              'max_features' : [None, 'sqrt', 'log2'],
              'n_estimators' : [10,50,100]}

In [10]:
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose = 3, n_jobs=-1)

grid.fit(indep,dep)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

C:\Users\jugip\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [0.81673212 0.82418875 0.82466666 0.81344464 0.83339406 0.83319909
 0.81732148 0.83086467 0.8326531         nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.78789176 0.80364316 0.80232541
 0.76931546 0.78393486 0.78991364 0.77309204 0.7853539  0.78797857]
  warnings.warn(
C:\Users\jugip\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'absolute_error',
                                       'squared_error', 'poisson'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'n_estimators': [10, 50, 100]},
             verbose=3)

In [11]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 50}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.168982,0.019142,0.031444,0.002516,friedman_mse,None,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.835860,0.749107,0.849693,0.820377,0.828623,0.816732,0.035157,8
1,0.459759,0.019073,0.026043,0.006669,friedman_mse,None,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.848559,0.768632,0.853726,0.812201,0.837824,0.824189,0.031249,6
2,0.884208,0.019762,0.065859,0.021721,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.846648,0.772265,0.850740,0.814274,0.839407,0.824667,0.029101,5
3,0.091495,0.012247,0.016664,0.003574,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.849211,0.734097,0.837210,0.811112,0.835594,0.813445,0.041560,9
4,0.274935,0.030927,0.032139,0.012994,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.856441,0.783211,0.860345,0.825771,0.841202,0.833394,0.027910,1
5,0.656085,0.085520,0.059009,0.012815,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.855810,0.779811,0.862695,0.827893,0.839788,0.833199,0.029336,2
6,0.080941,0.014572,0.013363,0.001956,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.842480,0.769198,0.824163,0.816726,0.834041,0.817321,0.025595,7
7,0.265441,0.016264,0.034328,0.012683,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.856246,0.775567,0.856802,0.826344,0.839364,0.830865,0.029891,4
8,0.652708,0.053584,0.059805,0.011708,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.853538,0.777473,0.861206,0.828318,0.842730,0.832653,0.029721,3
9,0.035518,0.007253,0.000000,0.000000,absolute_error,None,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
10,0.078687,0.007562,0.000000,0.000000,absolute_error,None,50,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
11,0.131714,0.015717,0.000000,0.000000,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
12,0.037120,0.001677,0.000000,0.000000,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,35
13,0.086220,0.004681,0.000000,0.000000,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
14,0.159752,0.018154,0.000000,0.000000,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,34
15,0.043960,0.011744,0.000000,0.000000,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
16,0.089711,0.004838,0.000000,0.000000,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,32
17,0.158598,0.020184,0.000000,0.000000,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,36
18,0.039976,0.004457,0.000000,0.000000,squared_error,None,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,31
19,0.095934,0.021018,0.000000,0.000000,squared_error,None,50,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,30
20,0.144341,0.013572,0.000000,0.000000,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
21,0.045479,0.014975,0.000000,0.000000,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,28
22,0.078300,0.011130,0.000000,0.000000,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,27
23,0.131113,0.013093,0.000000,0.000000,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,26
24,0.040671,0.015317,0.000000,0.000000,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
25,0.071927,0.007500,0.000000,0.000000,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
26,0.112903,0.007347,0.000000,0.000000,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
27,0.106649,0.005551,0.017176,0.005382,poisson,None,10,"{'criterion': 'poisson', 'max_features': None,...",0.807000,0.715217,0.808796,0.823831,0.784615,0.787892,0.038434,14
28,0.483066,0.031612,0.023879,0.002792,poisson,None,50,"{'criterion': 'poisson', 'max_features': None,...",0.817469,0.747778,0.824656,0.828697,0.799616,0.803643,0.029657,10
29,0.942299,0.033209,0.039944,0.004165,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.816788,0.746469,0.821724,0.826221,0.800425,0.802325,0.029257,11
30,0.068760,0.002820,0.010038,0.000636,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.802188,0.714435,0.804747,0.763444,0.761763,0.769315,0.032983,18
31,0.330360,0.015041,0.023477,0.004811,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.805963,0.728151,0.816663,0.787970,0.780928,0.783935,0.030638,16
32,0.672299,0.026962,0.037742,0.010403,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.814683,0.732228,0.825806,0.789382,0.787469,0.789914,0.032359,12
33,0.080000,0.002759,0.013653,0.002755,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.802050,0.710234,0.795000,0.787413,0.770763,0.773092,0.033107,17
34,0.331538,0.008167,0.026288,0.004724,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.805274,0.729886,0.813107,0.793054,0.785449,0.785354,0.029336,15
35,0.566980,0.032534,0.022675,0.002814,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.810523,0.726707,0.824824,0.793764,0.784074,0.787979,0.033671,13

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:54
BMI:33
Children:2
Sex Male 0 or 1:0
Smoker Yes 0 or 1:0

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[14572.7454926]