In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
indep=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep=dataset[['charges']]

In [8]:
from sklearn.tree import DecisionTreeRegressor

In [9]:
from sklearn.model_selection import GridSearchCV
#from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':[ 'squared_error', 'absolute_error', 'friedman_mse', 'poisson'],
              'max_features': [None, 'sqrt', 'log2'],
              'splitter': ['best', 'random']}

In [10]:
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(indep, dep)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\jugip\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:918: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.69956911 0.66807939 0.67580626 0.63662065 0.68907747 0.62065311
 0.70461642 0.5996329  0.5789415  0.6106377  0.54083924 0.60900928]
  warnings.warn(

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': [None, 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [11]:
# print best parameter after tuning
#print(grid.best_params_)
re=grid.cv_results_

print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'poisson', 'max_features': None, 'splitter': 'best'}:

In [12]:
table=pd.DataFrame.from_dict(re)

In [13]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.023682,0.002733,0.000000,0.000000,squared_error,None,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
1,0.032111,0.007346,0.000000,0.000000,squared_error,None,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
2,0.025882,0.005465,0.000000,0.000000,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
3,0.019462,0.005178,0.000000,0.000000,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
4,0.021672,0.003017,0.000000,0.000000,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
5,0.023275,0.002790,0.000000,0.000000,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
6,0.022676,0.005178,0.000000,0.000000,absolute_error,None,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
7,0.021471,0.002506,0.000000,0.000000,absolute_error,None,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
8,0.017257,0.002489,0.000000,0.000000,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
9,0.021071,0.003861,0.000000,0.000000,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
10,0.020470,0.003268,0.000000,0.000000,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
11,0.019062,0.003172,0.000000,0.000000,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
12,0.024884,0.005167,0.018261,0.004550,friedman_mse,None,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.720577,0.654803,0.733298,0.711698,0.677469,0.699569,0.029046,2
13,0.021072,0.003043,0.014045,0.001681,friedman_mse,None,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.711209,0.510479,0.671152,0.709736,0.737820,0.668079,0.081617,5
14,0.022473,0.003211,0.014450,0.002426,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.722377,0.542227,0.737078,0.658968,0.718381,0.675806,0.071920,4
15,0.023276,0.006100,0.015454,0.004514,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.654400,0.531871,0.668459,0.715398,0.612975,0.636621,0.061753,6
16,0.023475,0.004233,0.014249,0.004464,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.700889,0.664571,0.721356,0.647592,0.710980,0.689077,0.028223,3
17,0.020268,0.002490,0.013444,0.002507,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.657996,0.514938,0.633070,0.639862,0.657399,0.620653,0.053747,7
18,0.029096,0.003042,0.013445,0.002951,poisson,None,best,"{'criterion': 'poisson', 'max_features': None,...",0.692671,0.690060,0.719137,0.748996,0.672218,0.704616,0.026775,1
19,0.022875,0.003068,0.012238,0.002323,poisson,None,random,"{'criterion': 'poisson', 'max_features': None,...",0.618783,0.527600,0.644627,0.603629,0.603525,0.599633,0.039016,10
20,0.023075,0.001557,0.010837,0.000754,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.710221,0.345745,0.719571,0.597896,0.521275,0.578941,0.137896,11
21,0.018863,0.000751,0.010234,0.000403,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.711726,0.501979,0.553565,0.703829,0.582090,0.610638,0.083405,8
22,0.022674,0.001966,0.013047,0.003537,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.500037,0.486707,0.609261,0.526210,0.581982,0.540839,0.047294,12
23,0.018861,0.001727,0.010435,0.002736,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.646827,0.524727,0.696133,0.609583,0.567776,0.609009,0.059707,9

In [ ]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

In [ ]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])

print("Future_Prediction={}".format(Future_Prediction))